* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
@font-face {
    font-family: inter-regular;
    src: url("../fonts/Inter_18pt-Regular.ttf") format('truetype');
} 
@font-face {
  font-family: inter-bold;
  src: url("../fonts/Inter_24pt-Bold.ttf") format('truetype');
}
@font-face {
  font-family: inter-light;
  src: url("../fonts/Inter_24pt-Light.ttf") format('truetype');
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: inter-regular !important;
}
.inter-reg{
    font-family: inter-regular;
}
.inter-bold{font-family: inter-bold;}
.inter-light{font-family: inter-light;}
.main {
    flex: 1;
    background: rgba(44, 6, 43, 1);
}
.footer{
background: #fff;
}
.font-4{font-size: 2.7vw;}
.font-3{font-size: 2.5vw;}
.font-6{font-size: 60px;}
.font-25{font-size: 25px;}
p{font-size: 25px;font-family: inter-light !important;}
.text-dir{ 
  text-align: right;}
.yellow{
    background: linear-gradient(0deg, #FFD231 16.39%, #FFEF84 81.97%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.text-w{font-size: 20px; font-family: inter-light !important;}
.bng{
    background-blend-mode: multiply;
    width: 100%;
    min-height: 100vh;
    backdrop-filter: blur(21.80000305175781px);
}
.bottom-left {
    position: absolute;
    bottom: 50px;
    left: 0;
    width: 100%;
}
.top-left {
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.text-s{
  padding: 0px 23px;
  border-bottom: 1px solid rgba(177, 177, 177, 0.3);
  margin: 27px 0px;
  height: 68px;
  font-size: 26px;
  font-family: inter-light !important;
}
.border-g {
    padding-bottom: 10px;
    border-bottom: 4px solid rgba(255, 210, 49);
}
.black-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 24px;
    height: 60vh;
    align-items: center;
    background: linear-gradient(360deg, rgba(44, 6, 43, 0.5), rgba(188, 20, 90, 0.5));
    padding: 0px 46px;
}
.bbg{
  background: linear-gradient(360deg, rgba(44, 6, 43, 0.5), rgba(188, 20, 90, 0.5));
  padding-top: 45px;
  padding-bottom: 82px;
}

.form-bg{
    background: rgba(177, 177, 177, 0.17) !important;
    border: 1px solid rgba(177, 177, 177, 0.17) !important;
    height: 56px !important;
    width: 54% !important;
    margin: 0 auto;
    color: #fff !important;
    border-radius: 0px 10px 10px 0px !important;
}
.inp{
    width: 56% !important;
    margin: 0 auto;
}
.input-group-text{
    background: rgba(177, 177, 177, 0.17) !important;
    border: 1px solid rgba(177, 177, 177, 0.17) !important;
    color: #fff !important;
    gap: 6px;
}
input:focus{
    outline: 0 none !important;
}
*:focus {
    outline: 0 !important;
}
.form-control:focus {
    border-color: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
.btn-yellow{
  background: linear-gradient(0deg, #FFD231 0%, #FFEF84 100%);
  border-radius: 13px !important;
  color: #000 !important;
  padding: 14px 45px !important;
  font-family: inter-bold !important;
  font-size: 24px !important;
}
.btn-yellows{
  background: linear-gradient(0deg, #FFD231 0%, #FFEF84 100%);
  border-radius: 10px !important;
  color: #000 !important;
  padding: 10px 13px !important;
  font-family: inter-bold !important;
  font-size: 13px !important;
}

.otp-bg{
  background: rgba(177, 177, 177, 0.17);
  width: 45%;
  border-radius: 7px;
  padding: 6px 12px;
  margin: 0 auto;
}
.otp-input {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 18px;
  border: none;
  color: #fff;
  margin: 5px;
  border-radius: 5px;
  background: rgb(187, 137, 161);

}

.testimonial-section {
    padding-top: 82px;
    padding-bottom: 72px;
  }
  
  .swiper {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .swiper-slide {
    text-align: center;
    border-radius: 40px;
    border: 1px solid rgba(255, 220, 79, 1);
    padding: 30px 23px;
    background: rgba(62, 3, 43, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .swiper-pagination-bullet {
    width: var(
      --swiper-pagination-bullet-width,
      var(--swiper-pagination-bullet-size, 15px)
    );
    height: var(
      --swiper-pagination-bullet-height,
      var(--swiper-pagination-bullet-size, 15px)
    );
    background: #d9d9d9;
    background: #504b4b;
  }
  
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: var(--swiper-pagination-bottom, -4px);
  }
  
  .swiper-pagination-bullet-active {
    background: rgba(62, 3, 43, 1);
  }
  
  .swiper.testimonial-wrapper {
    padding-top: 88px;
    padding-bottom: 60px;
  }
  .review-stars{
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
  }

  .review-stars img{width: 20px;}
  .swiper-slide{display: flex !important;}
  .testimonial-items .testimonial-text {
    flex: 1;
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    max-width: 270px;
    margin-bottom: 45px;
    /*overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-clamp: 4;
    -webkit-line-clamp: 4;*/
  }
  
  .testimonial-items .testimonial-title {
    color: #fff;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    font-style: normal;
    position: relative;
  }
  
  .testimonial-items .testimonial-title::before {
    content: "";
    position: absolute;
    left: -23px;
    top: 9px;
    width: 20px;
    height: 1px;
  }
  
  .testimonial-img {
    position: relative;
    /*width: 100px;*/
    height: 70px;
  }
  
  .testimonial-img::before {
    content: "";
    position: absolute;
    left: 50%;
    top: -50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .testimonial-img.tm-img-1::before {
    background-image: url('../images/person-a.png');
  }
  
  .testimonial-img.tm-img-2::before {
    background-image:  url('../images/person-b.png');
  }
  
  .testimonial-img.tm-img-3::before {
    background-image:  url('../images/person-c.png');
  }
  .swiper-slide{
    height: auto !important;
  }
  .swiper-button-next {
    margin-top: 0px;
    position: absolute;
    top: 50%;
    right: -40px !important;
    width: 23px !important;
    height: 23px !important;
    color: rgba(255, 255, 255, 0.5) !important;
    transform: translateY(-50%);
  }
  .swiper-button-next:after, .swiper-button-prev:after{font-size: 23px !important;}
  .swiper-button-prev {
    position: absolute;
    top: 50%;
    left: -40px !important;
    width: 23px !important;
    height: 23px !important;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, 0.5) !important;
    margin-top: 0px;
  }
  .black-box-n {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 24px;
    /* height: 60vh; */
    align-items: center;
    /* background: linear-gradient(360deg, rgba(44, 6, 43, 0.5), rgba(188, 20, 90, 0.5)); */
    padding: 0px 27px;
}
  /* media query  */
  @media screen and (min-width: 768px) {
    .swiper-pagination-bullet {
      width: var(
        --swiper-pagination-bullet-width,
        var(--swiper-pagination-bullet-size, 24px)
      );
      height: var(
        --swiper-pagination-bullet-height,
        var(--swiper-pagination-bullet-size, 24px)
      );
    }
    .section-title::before,
    .section-title::after {
      width: 141px;
    }
  
    /*   .section-title::before,
    .section-title::after {
      left: 25%;
    }
    .section-title::after {
      right: 25%;
    } */
  }
  @media only screen and (max-width: 650px) {
    .font-3{font-size: 30px !important;}
    .font-4{font-size: 22px !important;}
    p{font-size: 16px !important;}
    .text-s {
      padding: 10px 23px;
      width: 100%;
      margin-bottom: 6px;
      height: auto;
      font-size: 18px !important;
    }
    .testimonial-section{padding-bottom: 0px;}
    .inp {width: 64% !important;}
    .flg {width: 16px;}
    .input-group-text {
      padding: 6px 4px !important;
      font-size: 9px !important;
    }
    .font-6{font-size: 43px;}
    .font-25{font-size: 21px;}
    .centered img{
      width: 345px !important;
    }
    .sticky {
      
      position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 170px;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  }
  .otp-input {
    width: 30px;
    height: 30px;}
  .form-bg {
    height: 40px !important;
  }
  .promo img{width: 245px !important;}
  .top-left{top:18px !important;}
  .text-dir{text-align: center;}
  }
  @media (min-width: 1920px) and (max-width: 2560px)  {
    .centered img{
      width: 900px !important;
    }
  }